.logo {
  font-family: "Silkscreen", cursive;
  font-size: 1.5rem;
  color: var(--secondary);
  display: flex;
  align-items: center;
  gap: 0.5rem;
  line-height: 1;
}
.logo-icon {
  width: 32px;
  height: 32px;
  display: block;
  background-color: var(--secondary);
  -webkit-mask-image: url('../assets/ic_cl.svg');
  mask-image: url('../assets/ic_cl.svg');
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: center;
  mask-position: center;
  -webkit-mask-size: contain;
  mask-size: contain;
}
.batarang {
  color: var(--secondary);
  width: 100%;
  height: 100%;
  display: block;
}
.bat-symbol-mask {
  background-color: var(--secondary);
  width: 100%;
  height: 100%;
  display: block;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: center;
  mask-position: center;
  -webkit-mask-size: contain;
  mask-size: contain;
}
.bat-symbol-mask--0 {
  -webkit-mask-image: url('../assets/bat_logo_0.svg');
  mask-image: url('../assets/bat_logo_0.svg');
}
.bat-symbol-mask--1 {
  -webkit-mask-image: url('../assets/bat_logo_1.svg');
  mask-image: url('../assets/bat_logo_1.svg');
}
